[phases.setup]
nixPkgs = ["nodejs_22", "bun"]

[phases.install]
cmds = ["cd ../.. && bun install"]

[phases.build]
cmds = ["cd ../.. && cd apps/web && bun run build"]

[start]
cmd = "cd ../.. && cd apps/web && bun run start"
